
{% extends 'base.html' %}

{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про магазин</h1>
    <p>Создание интернет магазина, становится все более  популярной услугой. По последним данным аудитория в интернете стремительно растет, а продажи через интернет в крупных городах, достигают   до 25%, при этом специалисты подчеркивают тенденцию к росту продаж именно через интернет. Сайт интернет-магазин - является современным торговым каналом. С помощью интернет магазина,  Вы имеете возможность продавать Ваши товары или услуги огромной аудитории, использующей доступ в Интернет.  Интернет магазин для покупателя это:  экономия времени, денег и сил. Именно поэтому, по статистике, все больше и больше людей в России совершает свои покупки через интернет магазин.</p>
</div>
{% endblock %}